@font-face {
	font-family: nordica;
	src:  url(../font/NordicaHairline.otf);
}

body, html {
	height: 100%;
	font-family: nordica;
	margin: 0;
}

.bg { 
	background: url('../img/stars.jpg');
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.weather {
	text-transform: uppercase;
	position: absolute;
	width: 100%;
	left: 0;
	top: 25%;
	text-align: center;
}

.weather img {
	margin: auto;
	scale: 1.5;
}

.weather h1 {
	font-size:  64px;
	color: #fff;
}